.login-content, .sign-in-content{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    flex-flow: column;
    .title{
        text-transform: uppercase;
        text-align: center;
    }
    .form-container{
        width: 50%;
        .alert-box{
            margin: 1.3rem 0;
        }
        .ant-form-item{
            .ant-form-item-control{
                .form-error{
                    padding: .5rem 0;
                    color: rgb(219, 22, 22);
                }
            }
            .submit-btn {
                transition: .5s;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                border-radius: 20px;
                padding: 8px 0;
                cursor: pointer;
                border: #1890ff solid 2px;
                background-color: white;
                color: #1890ff;
                .loader{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover{
                    background-color: #1890ff;
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    
    .login-content, .sign-in-content{
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height:100vh;
        flex-flow: column;
        max-height: 600px;
        .title{
            font-family: 'Roboto';
            text-transform: uppercase;
            text-align: center;
            font-size: 1rem;
            padding-bottom: 2rem;
        }
        .form-container{
            width: 100%;
            padding: 0 2rem;
            .alert-box{
                margin: 1.3rem 0;
            }
            .ant-form-item{
                .ant-form-item-control{
                    .form-error{
                        padding: .5rem 0;
                        color: rgb(219, 22, 22);
                    }
                }
                .submit-btn {
                    transition: .5s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 100%;
                    border-radius: 20px;
                    padding: 8px 0;
                    cursor: pointer;
                    border: #1890ff solid 2px;
                    background-color: white;
                    color: #1890ff;
                    .loader{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &:hover{
                        background-color: #1890ff;
                        color: white;
                    }
                }
            }
        }
    }
    .sign-in-content{
        max-height: 750px;
        .title{
            padding-bottom: 0rem;
        }
    }
}