.login-content, .sign-in-content{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    flex-flow: column;
    .title{
        text-transform: uppercase;
        text-align: center;
    }
    .form-container{
        width: 50%;
        .alert-box{
            margin: 1.3rem 0;
        }
        .ant-form-item{
            .ant-form-item-control{
                .form-error{
                    padding: .5rem 0;
                    color: rgb(219, 22, 22);
                }
            }
            .submit-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                border-radius: 20px;
                padding: 8px 0;
                cursor: pointer;
                border: #1890ff solid 2px;
                background-color: white;
                color: #1890ff;
                .loader{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}