.account-content{
    .page-header{
        background-color: white;
        border-radius: 25px;
        margin-bottom: 30px;
        .ant-page-header-heading{
            align-items: center;
            .ant-page-header-heading-left{
                .ant-page-header-heading-title{
                    min-width: 500px;
                    .main-title{
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        margin: 0;
                        padding-left: 6px;
                        .nav-icon{
                            font-size: 2rem;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
    .container{
        padding: 0 1rem;
        .title{
            padding-left: 6px;
            padding-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                margin-bottom: 0;
            }
            .actions-group{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5px;
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .description{
            line-height: 1.6;
            padding-left: 6px;    
            font-size: .9rem;
        }
        .sub-infos{
            padding-left: 6px;
            display: flex;
            flex-flow: column;
        }
        .search-content{
            display: flex;
            flex-flow: row;
            .group-input{
                width: 100%;
                display: flex;
                flex-flow: row;
                gap: 10px;
                &::before{
                    display: none;
                }
                &::after{
                    display: none;
                }
                .ant-input{
                    max-width: calc(100% - 100px);
                    border-radius: 20px;
                    padding-left: 1rem;
                }
            }
        }
    }
    
    Button.ant-btn.ant-btn-default{
        border-radius: 20px;
        min-width: 130px;
        font-size: .8rem;
    }
}

#edit, #create{
    .ant-drawer-content-wrapper{
        .ant-drawer-content{
            .ant-drawer-body{
                .edit-content, .create-content{
                    .description{
                        font-family: "Poppin";
                        font-size: .9rem;
                        line-height: 1.6;
                        padding-left: 6px;
                    }
                    .alert-box{
                        margin: 1rem 0;
                    }
                    .ant-form-item-control{
                        .form-error{
                            padding: .5rem 0;
                            color: rgb(219, 22, 22);
                        }
                    }
                    .submit-btn {
                        transition: .5s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        width: 100%;
                        border-radius: 20px;
                        padding: 8px 0;
                        cursor: pointer;
                        border: #1890ff solid 2px;
                        background-color: white;
                        color: #1890ff;
                        .loader{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &:hover{
                            background-color: #1890ff;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .account-content{
        .go-back{
            cursor: pointer;
            padding-left: 16px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: .8rem;
            .back-icon{
                font-size: .8rem;
            }
        }
        .page-header{
            background-color: white;
            border-radius: 25px;
            margin-bottom: 30px;
            .ant-page-header-heading{
                flex-flow: row wrap;
                align-items: center;
                .ant-page-header-heading-left{
                    .ant-page-header-heading-title{
                        min-width: 400px;
                        .main-title{
                            font-size: 20px;
                            margin: 0;
                            padding-left: 6px;
                        }
                    }
                }
            }
        }
        .container{
            padding: 0 1rem;
            .title{
                padding-left: 6px;
            }
            .description{
                line-height: 1.6;
                padding-left: 6px;    
                font-size: .9rem;
            }
            .sub-infos{
                padding-left: 6px;
                display: flex;
                flex-flow: column;
            }
            .search-content{
                display: flex;
                flex-flow: row;
                padding-bottom: 1rem;
                .group-input{
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    gap: 10px;
                    &::before{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                    .ant-input{
                        max-width: calc(100% - 100px);
                        border-radius: 20px;
                        padding-left: 1rem;
                    }
                }
            }
        }
        
        Button.ant-btn.ant-btn-default{
            border-radius: 20px;
            min-width: 130px;
            font-size: .8rem;
        }
    }
    
    .ant-drawer-content{
        .ant-drawer-body{
            .contact-content{
                .description{
                    font-size: 1rem;
                    line-height: 1.6;
                    padding-left: 6px;
                }
                .contact-form{
                    .alert-box{
                        margin: 1rem 0
                    }
                }
            }
        }
    }
}