.room-box{
    display: flex;
    .ant-card-cover{
        flex-grow: 1;
        .responsive-img{
            max-height: 225px;
            max-width: 300px;
            height: 225px;
            width: 300px;
        }
        .ant-skeleton-element {
            width: 100%;
            .skeleton-img{
                min-width: 180px;
                min-height: 159px;
            }
        }
    }
    .ant-card-body{
        flex-grow: 11;
        width: 100%;
        padding-bottom: 0;
    }
    .ant-card-meta-detail{
        .ant-card-meta-title{
            font-size: 1rem;
        }
        .ant-card-meta-description{
            .room-details{
                display: flex;
                flex-flow: row;
                align-items: center;
                .infos{
                    flex-grow: 3;
                    .desc{
                        font-size: .9rem;
                    }
                    .sub-infos{
                        display: flex;
                        flex-flow: column;
                        padding-left: 0;
                        .price{
                            font-size: 1.2rem;
                            b{
                                font-size: 1rem;
                            }
                        }
                    }
                }
                .show-btn{
                    flex-grow: 1;
                    padding: 0 40px;
                    min-width: 180px;
                    max-width: 180px;
                }
            }
        }
    }
}

.ant-drawer-header-title{
    .ant-drawer-title{
        font-family: 'Poppin';
    }
}

.drawer-content{
    font-family: 'Poppin';
    .container{
        margin-top: 2.5rem;
        .title{
            font-family: 'Roboto';
            font-size: 1.2rem;
        }
        .description{
            font-size: .9rem;
        }
        .sub-infos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price{
                font-size: 1.2rem;
                b{
                    font-size: 1rem;
                }
            }
        }
        .services-list{
            padding-left: 0;
            display: flex;
            flex-flow: row wrap;   
            gap: 5rem;
            .item-service{
                list-style: none;
                position: relative;
                min-width: 200px;
                .icon{
                    position: relative;
                    top: 6px;
                    font-size: 1.5rem
                }
            }
        }
        .alert-box{
            margin: 1rem 0
        }
        .form-container{
            .form-horizontal{
                display: flex;
                align-items: center;
                flex-flow: row wrap;
                justify-content: space-between;
                .ant-form-item{
                    width: calc(55% - 50px);
                    .ant-btn{
                        width: 100%;
                    }
                }
                .ant-form-item:last-child{
                    width: 100%;
                    .ant-btn{
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1128px) and (max-width: 1300px){
    .room-box{
        display: flex;
        flex-flow: row;
        .ant-card-cover{
            flex-grow: 1;
            .responsive-img{
                max-height: 100%;
                max-width: 100%;
                height: 300px;
                width: 740px;
            }
            .ant-skeleton-element {
                width: 100%;
                .skeleton-img{
                    min-width: 180px;
                    min-height: 159px;
                }
            }
        }
        .ant-card-body{
            flex-grow: 11;
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 1.8rem;
        }
        .ant-card-meta-detail{
            .ant-card-meta-title{
                font-size: 1rem;
            }
            .ant-card-meta-description{
                .room-details{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    .infos{
                        flex-grow: 3;
                        .desc{
                            font-size: .8rem;
                        }
                        .sub-infos{
                            display: flex;
                            flex-flow: column;
                            padding-left: 0;
                            .price{
                                font-size: 1.2rem;
                                b{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                    .show-btn{
                        flex-grow: 1;
                        margin-top: 1rem;
                        padding: 0 40px;
                        min-width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1128px) {
    .room-box{
        display: flex;
        flex-flow: column;
        .ant-card-cover{
            flex-grow: 1;
            .responsive-img{
                max-height: 400px;
                max-width: 100%;
                height: 100%;
                width: 100%;
            }
            .ant-skeleton-element {
                width: 100%;
                .skeleton-img{
                    min-width: 180px;
                    min-height: 159px;
                }
            }
        }
        .ant-card-body{
            flex-grow: 11;
            width: 100%;
            padding-bottom: 2rem;
        }
        .ant-card-meta-detail{
            .ant-card-meta-title{
                font-size: 1rem;
            }
            .ant-card-meta-description{
                .room-details{
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    .infos{
                        flex-grow: 3;
                        .desc{
                            font-size: .9rem;
                        }
                        .sub-infos{
                            display: flex;
                            flex-flow: column;
                            padding-left: 0;
                            .price{
                                font-size: 1.2rem;
                                b{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                    .show-btn{
                        flex-grow: 1;
                        margin-top: 1rem;
                        padding: 0 40px;
                        min-width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .ant-drawer-header-title{
        .ant-drawer-title{
            font-family: 'Poppin';
        }
    }
    .ant-drawer-content-wrapper{
        max-width: 100%;
        .ant-drawer-body{
            .drawer-content{
                font-family: 'Poppin';
                .container{
                    margin-top: 2.5rem;
                    .title{
                        font-family: 'Roboto';
                        font-size: 1.2rem;
                    }
                    .description{
                        font-size: .9rem;
                    }
                    .sub-infos{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .price{
                            font-size: 1.2rem;
                            b{
                                font-size: 1rem;
                            }
                        }
                    }
                    .services-list{
                        padding-left: 0;
                        display: flex;
                        flex-flow: row wrap;   
                        gap: 0;
                        .item-service{
                            list-style: none;
                            position: relative;
                            min-width: 200px;
                            .icon{
                                position: relative;
                                top: 6px;
                                font-size: 1.5rem
                            }
                        }
                    }
                    .alert-box{
                        margin: 1rem 0
                    }
                    .form-container{
                        .form-horizontal{
                            display: flex;
                            align-items: center;
                            flex-flow: column;
                            justify-content: space-between;
                            .ant-form-item{
                                width: 100%;
                                .ant-btn{
                                    width: 100%;
                                }
                            }
                            .ant-form-item:last-child{
                                width: 100%;
                                .ant-btn{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}