.ant-layout {
  box-sizing: border-box;
  min-height: 100%;

  .header-layout{
    background: inherit;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 80px;
      .actions-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 232px;
        .connexion-btn, .subscription-btn, .loggout-btn{
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: .9rem;
          .nav-icon{
            font-size: 1.2rem;
          }
        }
        .user-infos{
          min-width: 170px;
          align-items: center;
          display: flex;
          justify-content: center;
          gap: 7px;
          .avatar{
            background-color: #1890ff;
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .email{
            font-size: .8rem;
            padding-right: 1rem;
          }
        }
      }
      .mobile-menu, .logo-mobile{
        display: none;
      }
    }
  }

  .sider-nav{
    position: relative;
    .ant-layout-sider-children {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: white;
      min-height: 100vh;
      height:100px;
      .logo{
        background-image: url('../../assets/logo.png');
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px 20px 0;
        flex-grow: 1;
        max-height: 40px;
      }
      .main-nav{
        flex-grow: 11;
        .ant-menu-item {
          .ant-menu-title-content{
            a{ 
              font-size: .9rem;
            }
          }
          .nav-icon {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .content-layout{
    .layout-background {
      margin: 7px 16px;
      padding: 24px 35px;
      min-height: 280px;
    }
  }
}

@media screen and (max-width: 820px) {
  .ant-layout {
    font-size: 1rem;

    .sider-nav{
      display:none;
    }

    .header-layout{
      background: white;
      height: 80px;
      padding: 0 2rem;
      .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
        .actions-group{
          display:none;
        }
        .mobile-menu, .logo-mobile{
          display: flex;
        }
        .mobile-menu{
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: .9rem;
          .mobile-menu-btn{
            height: 35px;
            .nav-icon{
              font-size: 1.2rem;
            }
          }
        }
        .logo-mobile{
          background-image: url('../../assets/logo.png');
          background-color: white;
          background-size: contain;
          background-repeat: no-repeat;
          flex-grow: 1;
          height: 30px;
          width: 100px;
          max-height: 30px;
        }
      }
    }

    .content-layout{
      .layout-background {
        margin: 7px 16px;
        padding: 24px 14px;
        min-height: 280px;
      }
    }
  }

  .sidebar-mobile-menu{
    .ant-drawer-content-wrapper{
      max-width: 300px;
      .ant-drawer-content{
        .ant-drawer-wrapper-body{
          .ant-drawer-body{
            .user-infos{
              padding-left: 20px;
              min-width: 170px;
              max-width: 212px;
              align-items: center;
              display: flex;
              flex-flow: column;
              justify-content: center;
              gap: 7px;
              .avatar{
                background-color: #1890ff;
                align-items: center;
                display: flex;
                justify-content: center;
                width: 80px;
                height: 80px;
                svg{
                  font-size: 4rem;
                }
              }
              .email{
                font-family: "Poppin";
                font-size: .8rem;
                padding-right: 0;
              }
            }
            ul{
              list-style: none;
              li{
                padding: 15px 0;
                font-size: .9rem;
              }
              .divider{
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
  }
}

