.ant-layout, .ant-layout {
  box-sizing: border-box;
  min-height: 100%;

  .header-layout{
    background: inherit;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 80px;
      .actions-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 232px;
        .connexion-btn, .subscription-btn, .loggout-btn{
          display: flex;
          align-items: center;
          gap: 10px;
          .nav-icon{
            font-size: 1.2rem;
          }
        }
        .user-infos{
          min-width: 170px;
          align-items: center;
          display: flex;
          justify-content: center;
          gap: 7px;
          .avatar{
            background-color: #1890ff;
            align-items: center;
            display: flex;
            justify-content: center;
          }
          .email{
            font-size: .8rem;
          }
        }
      }
    }
  }

  .sider-nav{
    position: relative;
    .ant-layout-sider-children {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: white;
      min-height: 100vh;
      height:100px;
      .logo{
        background-image: url('../../assets/logo.png');
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 20px 20px 0;
        flex-grow: 1;
        max-height: 40px;
      }
      .main-nav{
        flex-grow: 11;
        .ant-menu-item {
          .ant-menu-title-content{
            a{ 
              font-size: 1rem
            }
          }
          .nav-icon {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .content-layout{
    .layout-background {
      margin: 7px 16px;
      padding: 24px 35px;
      min-height: 280px;
    }
  }
}
