.facility-box{
    .ant-card-meta-detail{
        .ant-card-meta-title{
            font-size: .8rem;
        }
        .ant-card-meta-description{
            .facility-details{
                display: flex;
                flex-flow: row;
                align-items: center;
                .infos{
                    flex-grow: 3;
                    .desc{
                    }
                    .sub-infos{
                        display: flex;
                        flex-flow: column;
                    }
                }
                .show-btn{
                    font-size: .8rem;
                    flex-grow: 1;
                    padding: 0 40px;
                    min-width: 180px;
                    max-width: 180px;
                }
            }
        }
    }   
}

@media screen and (max-width: 1128px) {
    .facility-box{
        .ant-card-meta-detail{
            .ant-card-meta-title{
                font-size: .8rem;
            }
            .ant-card-meta-description{
                .facility-details{
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    .infos{
                        flex-grow: 3;
                        .desc{
                        }
                        .sub-infos{
                            display: flex;
                            flex-flow: column;
                        }
                    }
                    .show-btn{
                        font-size: .8rem;
                        flex-grow: 1;
                        padding: 0 40px;
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }   
    }
}