.room-box{
    display: flex;
    .ant-card-cover{
        flex-grow: 1;
        .responsive-img{
            max-height: 220px;
        }
        .ant-skeleton-element {
            width: 100%;
            .skeleton-img{
                min-width: 180px;
                min-height: 159px;
            }
        }
    }
    .ant-card-body{
        flex-grow: 11;
        width: 100%;
    }
    .ant-card-meta-detail{
        .ant-card-meta-title{
            font-size: 1rem;
        }
        .ant-card-meta-description{
            .room-details{
                display: flex;
                flex-flow: row;
                align-items: center;
                .infos{
                    flex-grow: 3;
                    .desc{
                    }
                    .sub-infos{
                        display: flex;
                        flex-flow: column;
                    }
                }
                .show-btn{
                    flex-grow: 1;
                    padding: 0 40px;
                    min-width: 180px;
                    max-width: 180px;
                }
            }
        }
    }   
}