body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  min-height: 100vh;
  font-family: 'Poppin','Roboto', 'Segoe UI', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 14px;
}

h1,h2,h3,h4{
  font-family: 'Roboto', 'Segoe UI', 'Segoe UI', source-code-pro, Menlo, Monaco, Consolas, 
    monospace;
}

div.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 44px;
  padding: 7px 11px;
}

input.ant-input, select{
  padding: 0.5rem;
}

@font-face {
  font-family: "Poppin-light";
  src: url('./assets/fonts/Poppins-Light.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppin-medium";
  src: url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppin";
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
}